.Select {
  outline: none;
  position: relative;
  border: 1px solid black;
}

.Select__Options {
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.Select__Option {
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  padding: 8px;
}
