.error {
  border: 1px solid red;
}

input {
  padding: 8px;
}

.rect {
  width: 100px;
  height: 50px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.complete {
  text-decoration: line-through;
}

input {
  outline: none;
}

.popup {
  display: none;
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: blanchedalmond;
  text-align: center;
}

.popup_open {
  display: block;
}